@model CryptoPortfolioRecorder.ViewModel.HomeIndexViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

    <h1>Welcome Yusuf</h1>
    <h2>Please select one of the portfolios to view</h2>
    <table>
        <tr>
            <td>
                <a asp-controller="Portfolio">Portfolio1</a>
            </td>
       </tr>
    </table>

</body>
</html>